<!DOCTYPE html>
<html lang="zh_CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>blog-client2</title>
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/icons/favicon-16x16.png">
  <!--[if IE]><link rel="shortcut icon" href="/static/img/icons/favicon.ico"><![endif]-->
  <!-- Add to home screen for Android and modern mobile browsers -->
  <link rel="manifest" href="/static/manifest.json">
  <meta name="theme-color" content="#2874f0">
  <!-- Add to home screen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="blog-client2">
  <link rel="apple-touch-icon" href="/static/img/icons/apple-touch-icon-152x152.png">
  <!-- Add to home screen for Windows -->
  <meta name="msapplication-TileImage" content="/static/img/icons/msapplication-icon-144x144.png">
  <meta name="msapplication-TileColor" content="#000000">
  <% for (var jsFilePath of htmlWebpackPlugin.files.js) { %>
  <link rel="preload" href="<%= jsFilePath %>" as="script">
  <% } %>
  <% for (var cssFilePath of htmlWebpackPlugin.files.css) { %>
  <link rel="preload" href="<%= cssFilePath %>" as="style">
  <% } %>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      extensions: ["tex2jax.js"],
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
        processEscapes: true
      },
      "HTML-CSS": { availableFonts: ["TeX"] },
      showProcessingMessages: false,
      skipStartupTypeset: true,
      showMathMenu: false,
      messageStyle: "none"
    });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML-full"></script>
</head>
<body>
  <div id="app"></div>
</body>
</html>
